<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">

                <h1 class="text-center py-4">Get User Details</h1>
                <form (ngSubmit)="formSubmit()" class="mb-20">
                    <mat-form-field appearance="fill" class="full-width mb-20">
                        <mat-label>Username</mat-label>
                        <input type="email" matInput required name="username" [(ngModel)]="userData.username">
                        <mat-hint>Enter your email</mat-hint>
                    </mat-form-field>

                    <div class="text-center">
                        <button mat-raised-button color="warn" type="submit" class="mr-20">Submit</button>
                        <button mat-raised-button color="warn" type="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>